$sw-md: 768px;
$sw-lg: 1120px;

.swiper-brand__header {
  min-width: 320px;
  height: 80px;
  background-image: linear-gradient(to right, #f8f8f8 2%, #ffffff 80%);
  border-top: 1px solid #d9fff5;

  @media (min-width: $sw-md) {
    height: 56px;
  }

  span {
    display: block;
    color: #7e7e82;
    text-transform: uppercase;
    line-height: 24px;
    margin: 16px;

    @media (min-width: $sw-md) {
      margin-left: 24px;
    }

    @media (min-width: $sw-lg) {
      margin-left: 32px;
    }
  }
}

.swiper-brand__shadow-wrapper {
  position: relative;

  .swiper-brand__shadow {
    position: absolute;
    right: 0;
    top: 16px;
    width: 24px;
    height: 72px;
    background-image: linear-gradient(to right, transparent 5%, #f8f8f8 80%);
    z-index: 2;

    @media (min-width: $sw-md) {
      display: none;
    }
  }
}

.swiper-brand__slider {
  height: 140px;
  background-color: #f8f8f8;

  @media (min-width: $sw-md) {
    height: 184px;
  }

  .swiper-brand__wrapper {
    padding: 16px;

    @media (min-width: $sw-md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 72px);
      row-gap: 16px;
      column-gap: 24px;
      padding: 24px;
      box-sizing: border-box;
    }

    @media (min-width: $sw-lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 72px);
      column-gap: 32px;
      padding: 24px 32px;
    }

    .swiper-brand__slide {
      min-width: 222px;
      height: 70px;
      border: 1px solid #eaeaea;
      border-radius: 6px;
    }
  }

  .lenovo {
    background: url('../img/lenovo.svg') no-repeat 16px 20px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .samsung {
    background: url('../img/samsung.svg') no-repeat 16px 17px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .apple {
    background: url('../img/apple.svg') no-repeat 16px 12px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .viewSonic {
    background: url('../img/viewSonic.svg') no-repeat 14px 26px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .bosch {
    background: url('../img/bosch.svg') no-repeat 16px 22px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .hp {
    background: url('../img/hp.svg') no-repeat 10px 10px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .acer {
    background: url('../img/acer.svg') no-repeat 16px 24px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }

  .sony {
    background: url('../img/sony.svg') no-repeat 14px 23px,
      url('../img/arrowGo.svg') no-repeat right 16px top 16px, #ffffff;
  }
}

.swiper-brand__spoiler {
  display: none;

  @media (min-width: $sw-md) {
    margin: 24px 0 32px 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f8f8f8;
    border-style: none;
    width: 150px;
    padding: 0;
  }

  @media (min-width: $sw-lg) {
    margin-left: 32px;
  }

  &:hover {
    font-size: 18px;
    font-weight: 600;
  }

  &::before {
    content: url('../img/expanddown.svg');
    width: 24px;
    height: 24px;
  }
}

.swiper-brand__spoiler_hidden::before {
  content: url('../img/expandup.svg');
  width: 24px;
  height: 24px;
}

.swiper-brand_show {
  height: auto;
}
